.links{
    padding:50px;
}
.center{
    text-align: center;
    padding-top: 50px;
}
h2{
    text-align: end;
    padding-right: 30px;
}
.mat-sidenav-container {
    background-color: transparent !important;
  }
  
  .mat-sidenav {
   background-color: transparent !important;
  }
  .sidenav-container {
    height: 100%;
   
  }
  .sidenav {
    width: 250px;
  }
  
  .mat-sidenav-content {
    flex: 1;
    overflow: auto;
  }
  .mat-toolbar-row, .mat-toolbar-single-row{
    display:unset !important;
  }
  .mat-toolbar{
    background-color: transparent !important;
  }
  .mat-drawer {
    position: relative;
    z-index: 4;
    display: block;
    position: absolute;
    top: 0;
    bottom:0%;
    z-index: 3;
    outline: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    transform: translate3d(-100%, 0, 0);
}
