.links{
    padding:50px;
}
.center{
    text-align: center;
    padding-top: 50px;
}
h2{
    text-align: end;
    padding-right: 30px;
}
.mat-sidenav-container {
    background-color: transparent !important;
  }
  
  .mat-sidenav {
   background-color: transparent !important;
  }
  .sidenav-container {
    height: 100%;
    display: flex;
  }
  .sidenav {
    width: 250px;
  }
  
  .mat-sidenav-content {
    flex: 1;
    overflow: auto;
  }