.links{
    padding:50px;
}
.center{
    text-align: center;
    padding-top: 50px;
}
h3{
    text-align: center;
    padding-right: 30px !important;
}
.mat-sidenav-container {
    background-color: transparent !important;
  }

  .mat-sidenav {
   background-color: transparent !important;
  }
  .sidenav-container {
    height: 100%;

  }
  .sidenav {
    width: 250px;
  }

  .mat-sidenav-content {
    flex: 1;
    overflow: auto;
  }
  .mat-toolbar-row, .mat-toolbar-single-row{
    display:unset !important;
  }
  .mat-toolbar{
    background-color: transparent !important;
  }
  .mat-drawer-container {
     position:flex !important;
    z-index: 1;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: hidden;

}
header {
 display: flex;
 flex-grow: 1;
}
.sidenav-open {
  margin-left: 250px ;  /* Aumentare o diminuire in base alla larghezza della tua sidenav */
}
