<input type="text" placeholder="Cerca" [(ngModel)]="searchText" (input)="onSearchTextChanged(searchText)">
<div [hidden]="Ishidden">
<ul>
  <li *ngFor="let item of filteredItems">{{ item }}</li>
</ul>
</div>
<hr>

<div>
  <select [(ngModel)]="searchText">
    <option value="">Seleziona il tipo</option>
    <option *ngFor="let item of filteredItems" [value]="item">{{ item}}</option>
  </select>
</div>
<hr>

<mat-toolbar>
</mat-toolbar>
<section style="width: 100%;">
     <button (click)="goToAdduser()">Aggiungi User</button>
    <button (click)="updateList()" mat-button color="accent" class="backbroundButton">Aggiorna</button>
</section>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Cerca" #input>
</mat-form-field>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="height: 5px;"></mat-progress-bar>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
  <!-- <table mat-table  matSort> -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let row" class="classColorText"> {{ row.id }} </td>
    </ng-container>
    <!-- Colonna ID -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let row" class="classColorText"> {{row.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="password" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> password </th>
      <td mat-cell *matCellDef="let row" class="classColorText"> {{row.password }} </td>
    </ng-container>

 <!-- Actions -->
    <ng-container matColumnDef="actions" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> actions </th>
      <td mat-cell *matCellDef="let row" class="classColorText"> <a (click)="delete(row.id)">delete</a> </td>
    </ng-container>

    <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
  <mat-paginator [length]="listLength"
                  [pageSize]="100"
                  [pageSizeOptions]="[5, 8, 25, 100]">
  </mat-paginator>
</div>
