<button mat-button [matMenuTriggerFor]="menu">Menù</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToLogin()">Login</button>
</mat-menu>

<div [hidden]="isHidden" >
  <form [formGroup]="formGroupLogin" (ngSubmit)="login()" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>UserName</mat-label>
      <input matInput type="text" formControlName="userName" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!formGroupLogin.valid">Login</button>
  </form>


  <div *ngIf="loginError" class="error-message">
  Login non riuscito! Controlla il tuo nome utente e la tua password.
  </div>

  <div *ngFor="let user of users">
    name: {{ user.userName }}
    password: {{ user.password }}
  </div>
</div>

<h2 *ngIf="!isHidden">Benvenuto: {{name}}</h2>
