<button mat-button [matMenuTriggerFor]="menu">Menù</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToLogin()">Login</button>
</mat-menu>

<div [hidden]="isHidden" >
  <form [formGroup]="formGroupLogin" (ngSubmit)="login()">
    UserName <input type="text" formControlName="userName" >
    Password <input type="password" formControlName="password">
    <input type="submit" value="Login" [disabled]="!formGroupLogin.valid" >
</form>


  <div *ngIf="loginError" class="error-message">
    Errore di login! Controlla il tuo nome utente e la tua password.
  </div>

  <hr>
  <div *ngFor="let user of users">
    name: {{ user.userName }}
    password: {{ user.password }}
  </div>
</div>

<h2 *ngIf="!isHidden">Benvenuto: {{name}}</h2>
