<!-- <div>
    <form [formGroup]="userFormGroup" (ngSubmit)="editUser()">
     Username: <input type="text" formControlName = 'userName'>
     password: <input type="text" formControlName = 'password'>
     idRole: <select formControlName = 'idRole'>
      <option [value]="-1">--</option>
      <option [value]="1">admin</option>
      <option [value]="2">user</option>
     </select>
     <input type="submit" value="Aggiungi user">
    </form>
  </div> -->

  <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
    <label>
      ID:
      <input type="text" formControlName="id" readonly> <!-- Aggiungi un campo per l'ID dell'utente -->
    </label>
    <label>
      Nome:
      <input type="text" formControlName="name">
    </label>
    <label>
      Email:
      <input type="text" formControlName="email">
    </label>
    <!-- Aggiungi qui gli altri campi... -->
    <button type="submit">Modifica</button>
  </form>
  
